/**
Place all your tutor specific CSS in this file
All global CTAT tutor CSS definitions can be found in CTAT.css
**/

/*Chrome,  shift command R to reload css/js files, etc.*/

html, body {
  margin: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: azure
}
header {
  flex: none;
  background-color: lightskyblue;
  border: 1px solid gold;
  border-radius: 5px;
  margin: 2px;
  padding: 4px;
  height: 32px;
}
h1 {
  margin: 0;
  font-size: 28px;
  font-family: "Trebuchet MS";
  color: floralwhite;
}
h2 {
  margin: 0;
  font-size: 13px;
}
p {
  margin: 0;
  
}
h3 {
  display: none;
}
.CTATTutor {
  width: 100%;
  height: 100%;
  border: 1px;
  min-height: 400px;
  /*max-height: 600px; */
  min-width: 648px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.CTATProblem, .CTATSolution, .CTATTools section {
  border: 1px solid gold;
  border-radius: 0;
  padding: 2px;
  background-color: snow;
  overflow: wrap;
  font-size: 1.3em;
}
#problemstatement {
  margin-top: 4px;
}

/********************solution*****************/
.CTATSolution{
  min-width: 800px;
}
.CTATSolution, .CTATButtons, .CTATTools section {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}
#given-values {
  display: flex;
  justify-content: flex-start;
}
/*.grid-column {
  display: grid;
  flex-flow: column;
  justify-content: flex-start;
}
.grid-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/

#information{
  flex: 1;
}

.flex1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex1-item{
  flex: 10;
}

.flex1-symbol{
  flex: 1;
}


.numerator{
  border: solid black;
  border-width: 0px 0px 2px 0px;
}

.CTATImageButton {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 400px;
}

.CTATTextInput input[type="text"] {
  border: none;
}


.CTATTextInput, .CTATTextField {
  margin: 2px;
  padding: 5px;
  border: 1px solid gold;
  border-radius: 5px;
  background-color: white;
}

.CTATTextArea {
  margin: 2px;
  padding: 5px;
  border: 1px solid gold;
  border-radius: 5px;
  background-color: white;
}
.CTATTextArea {
  width: 300px;
  height: 200px;
  line-height: 22px;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr;
  min-width: 200px;
}
.grid-item{
  justify-content: space-between;
}
.grid-item, .grid-item p{
  font-size: 1.1em;
}

.CTATTextInput {
  width: 120px;
  height: 22px;
  line-height: 22px;
}
#commonamt {
  margin: 0 70px;
}
#decision {
  margin-bottom: 10px;
}

.CTATTools, .CTATTools section > div {
  display: flex;
  /*justify-content: space-between;*/
}
.CTATTools {
  height: 196px;
  justify-content: flex-start;
}
.CTATButtons {
  margin: 2px;
}
.CTATTools section {
  flex: 1;
}
.CTATTools section > div {
  flex: auto;
}
.CTATHintWindow, .CTATSkillWindow {
  flex: auto;
  margin: 2px;
  width: auto;
  height: auto;
}
.CTATSkillWindow--bar{
  max-width: 160px;
}
.CTATSkillWindow--bar--nonmastered {
  background: gold;
}
.CTATSkillWindow--bar--mastery {

  background: #669900;
}


.textboxwidth{
    width: 250px; 
    height: 50px; 
}

.textboxwidth2{
    width: 300px; 
    height: 70px; 
}

.header2{
    font-family: "Trebuchet MS";
    color: gold;
    font-size: 21pt; 
    border-style: hidden;
}
.header3 {
    color: brown; 
    font-size: 18pt; 
    font-family: "Trebuchet MS";
}



.header4{
    font-family: "Trebuchet MS";
    color: gold;
    font-size: 13pt; 
    border-style: hidden;
}

.header5{
    font-family: "Trebuchet MS";
    font-size: 13pt; 
    border-style: hidden;
}

.header6{
    font-family: "Trebuchet MS";
    color: deepskyblue;
    font-size: 12pt; 
    border-style: hidden;
}
.size1 {
    font-size: 11pt; 
    font-family: "Trebuchet MS";
    border-style: hidden;
}
